<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> {{ pet.name }}</h1>
    <p>age: {{ pet.age }}</p>
    <p>hunger: {{ pet.hunger }}</p>
    <p>happiness: {{ pet.happiness }}</p>
    <p>{{ message }}</p>
    <p>{{ message2 }}</p>

    <form method="POST" action="/feed"><button>Feed</button></form>
    <form method="POST" action="/play"><button>Play</button></form>
    <form method="POST" action="/wait"><button>Wait</button></form>
    <form method="POST" action="/revive"><button>Revive</button></form>
</body>
</html>
